@charset 'UTF-8';

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(15, 70, 173);
    font: normal 1.2em Arial;
}

header{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.61);
}

select{
    margin-top: 10px;
}

input#button{
    margin-top: 10px;
}

div#container{
    display:flex;
    flex-direction: column;
}

div#container > select{
    width: 200px;
}

input#button{
    width: 85px;
}
 div#res > p{
     padding: 6px;
 }

footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
}